/* INTRO-INTRO */
.body{
  margin:0px;
  padding:0px;
  background-color: white;
}

.intro-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
  
    }
  
    .intro-body-left-side {
      /* flex: 1; Ocupa el 50% del ancho del contenedor */
      margin-left: 15px; /* Espaciado interno para el contenido de la izquierda */
      margin-bottom: 200px;
      /* display: flex;
      flex-direction: column;
      align-items: flex-start; */
    }
  
    .intro-body-left-side-text {
      width: 380px;
      height: 244px;
      margin-top:200px;
      margin-left: 90px;
    }
  
    .intro-body-left-side-text h1{
      font-family: 'Sofia Sans', sans-serif;
      font-size: 35px;
      line-height: 42px;
      margin:5px;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
  
    .intro-body-left-side-text h1.degradation{
          background-image: linear-gradient(93.1deg, #32283A 3.01%, #64745B 32.92%, #DBF22E 45.68%),
                            linear-gradient(91.6deg, #573C41 0.83%, #64745B 31.31%, #DBF22E 49.92%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          font-size: 36px;
          font-weight: 1000;
    }
  
    .intro-button {
      text-align: left;
      margin-top: -20px;
      margin-left: 100px;
    }
  
    .intro-body-right-side {
      margin-top: 3%;
      text-align: center;
    }
  
  
   #intro-button {
      background-color: #573c41;
      color: white;
      padding: 10px 20px;
      border: 1px solid #573c41 ;
      border-radius: 1px;
      /* cursor: pointer; */
      font-family: 'Sofia Sans', sans-serif;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.5px;
    }
  
   #intro-button:hover {
      background-color: #dbf22e;
      border:1px solid #dbf22e;
      color: black;
    }

/* COMMON STYLES-Intro */


.page {
  display: none;
}

.page.active {
  display: block;
}



body {
    margin: 0;
    padding: 0;
    background-color: white;

}



.common-body-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    max-width: 1414px;
    min-height: 749px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 66px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
    margin-bottom: 5%;
    position: relative;
}

.common-text-input-part {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  align-items: center;
}

.scanner-text-input-part {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;

}


.skin-text-input-part {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 30px;

}


.transition-text-input-part {

  display: grid;
  grid-template-columns: 0.3fr 2fr;
  align-items: center;
}

.common-wrapper-content-question {
  padding:100px;
  width: 270px;
}



h2.question {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: black;
}

h2.question strong {
    margin-top: 8px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: black;
}

.common-input-text {
    width: 60%;
}

.transition-input-text {
    width: 60%;
}

#transition-name-input-text {
    width: 65%;
    margin-top: 50px;
}

.transition-input-text label {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    /* margin-bottom: 5px; */
}

.transition-input-text input[type="text"] {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 620px;
    height: 40px;
    border-radius: 31px;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;

}

.common-input-text label {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.common-input-text input[type="text"] {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 620px;
    height: 40px;
    border-radius: 31px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    margin-left: 15px;

}


#country-input{
  font-family: 'Sofia Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 31px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  width: 665px;
  height: 70px;


}

.error-border {
  transition: 0.15s;
    border: 4px solid #FF8153 !important;

}

.iconos-last-next {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.iconos-last-next .next-page,
.iconos-last-next .last-page {
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-last-next .next-page {
    border: 1px solid #47D36F;
    background-color: white;
    color: #47D36F;
}

.iconos-last-next .last-page {
    border: 1px solid #573c41;
    background-color: white;
    color: #573c41;
}

.iconos-last-next > .last-page a,
.iconos-last-next > .next-page a {
    text-decoration: none;
    color: inherit;
}

.checkbox.error-border2 input[type="checkbox"] {
  border: 4px solid #FF8153 !important;

}

.checkbox {
    display: flex;
    align-items: center;
  }

  .checkbox input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 50%; /* Hacerlo redondo */
    border: 1px solid #ccc;
    margin-top: -30px;
    appearance: none;
    bottom:390px;
    left: 580px;
}


  .checkbox input[type="checkbox"]::before {
    content: "";
    color: #DBF22E;
    display: inline-block;
    width: 20px;
    text-align: center;
    line-height: 20px; /* Alineación vertical del punto */
  }

  .checkbox input[type="checkbox"]:checked::before {
    content: "\2022";
    font-size: 50px;
    text-align: center;
    margin-top: 1.5px;
    margin-right: 1.5px;

  }

  .checkbox input[type="checkbox"]:checked {
    box-shadow: 1px -6px 37px 54px  rgba(217, 217, 217, 1) inset;
  }


  .checkbox.error-border2 input[type="checkbox"]:checked::before {
    content: "\2022";
    font-size: 50px;
    text-align: center;
    margin-left: -2px;
    margin-top: 0px;
  }



  .checkbox label {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    color: #555;
    margin-left: 10px;
  }


  .common-three-column-part {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 30px;

  }

  .common-three-column-part > .skyn-type,
  .common-three-column-part > .skyn-age,
  .common-three-column-part > .solar-damage {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10px;
    width: 413px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color:#D9D9D9;
    color: white;
    font-family:'Sofia Sans', sans-serif ;
    font-weight: 400px;
  }



  .common-three-column-part > .skyn-type p,
  .common-three-column-part > .skyn-age p,
  .common-three-column-part > .solar-damage p {
    margin: 0;
    font-family:'Sofia Sans', sans-serif ;
    font-weight: 700;
    font-size: 14px;
  }


  /* SCANNER */



.skin-scanner-left-column{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 160px;
    margin-top: 100px;
    margin-left: 100px;

}



  .skin-scanner-center-column {
    width: 352px;
    height: 570px;
    margin-left: 58.5px;
    margin-bottom: 60px;

}




    .skin-scanner-right-column{
      margin-left: 50px;
      margin-top: 170px;
  }

  .skin-scanner-right-column> .skin-scanner-right-column-text{
    padding: 40px;
    margin-top: -20px;
    width: 235px;
    height: 160px;

  }
    .skin-scanner-image-container {
      position: absolute;
      width: 352px;
      height: 570px;
    }

  .superimposed-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  }

  .scanner-trans-bottom-image, .scanner-trans-top-image {
    position: absolute;
    width: 90%;
    height: 90%;
  }

  .step {
    display: flex;
  flex-direction: row;
    align-items: start;
  }

  .number {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    font-family: "Sofia Sans";
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 10px;
  }

  .step p {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    font-family: "Sofia Sans";
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }


  /* OTHER PAGES ADJUST */


  .options-select {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    padding: 40px;
}


.options-select p {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  line-height: 40px;
  border-radius: 31px;
  width: 330px;
  border: 1px solid rgba(87, 60, 65, 1);
  padding: 20px;
  margin: 25px;
  transition: 0.2s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.options-select p:hover,.options-select p.active {
  background-color: #DBF22E;
  color:black;
}

.column > textarea[type="other-text"] {

  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align:unset;
  border-radius: 31px;
  border: 1px solid rgba(87, 60, 65, 1);
  margin-top: 10px;
  margin-left: 30px;
  width: 300px;
  height: 350px;
  border:1px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 1.5rem 2rem;
  outline: none;

}



/* Results page */

.results-body {


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
  background-color: #ffffff;
  margin-top:100px;

}

.results-body-right-side {
  text-align: right;
  margin-left: 200px;
  margin-bottom: 40px;
}



.buttons-results-image {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.buttons-results-image button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.buttons-results-image button:focus {
  outline: none;
}

/* Custom Alert Mensage */

.custom-alert {
  display: none;
  position: absolute;
  width: 632px;
  height: 250px;
  border-radius: 43px;
  background: linear-gradient(104.02deg, #FF8153 -0.7%, #F16E82 104.85%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.51);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: black;
  line-height: 1; /* Ajusta este valor para centrar verticalmente */
  letter-spacing: 0em;
}





.custom-alert-content p strong {
  padding: 20px;
  color: white;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.custom-alert-content p  {
  padding: 20px;
  color: white;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

/* Estilo del modal de alerta */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(104.02deg, #FF8153 -0.7%, #F16E82 104.85%);
  border-radius: 43px;
  width: 632px;
  height: 233px;
  color: white;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
}


/* Estilo del contenido del modal */
.modal-content p {
  text-align: center;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top:0px;
}

.modal-content p strong {
  text-align: center;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-content {
  text-align: center;
}


/* Estilo de los botones */
.modal-buttons button {
  border: none;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none; /* Elimina la decoración de subrayado predeterminada */
  position: relative; /* Agrega posición relativa para alinear el subrayado */
  transition: color 0.5s ease; /* Añade una transición para suavizar el cambio de color */
}

/* Estilo para el hover */
.modal-buttons button:hover {
  color: white; /* Cambia el color del texto en el hover */
}

/* Estilo del subrayado */
.modal-buttons button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease; /* Agrega una transición para suavizar el subrayado */
}

/* Estilo del subrayado en hover */
.modal-buttons button:hover::before {
  width: 100%; /* Añade el subrayado completo en el hover */
}



/* Estilo de la x en los botones */
.modal-buttons button.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  line-height: 1;
  padding: 0;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
  backdrop-filter: blur(5px); /* Desenfoque del fondo (ajusta según sea necesario) */
  z-index: 999; /* Asegúrate de que el fondo esté en capas detrás de otros elementos */
  display: none; /* Oculta el fondo inicialmente */
}



.alert-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(104.02deg, #FF8153 -0.7%, #F16E82 104.85%);
  z-index: 1000; /* Asegúrate de que la alerta esté en capas sobre el fondo */
  display: none; /* Oculta la alerta inicialmente */
  border-radius: 43px;
  width: 632px;
  height: 233px;
  color: white;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
}